*
{
    color: blue;
}

body
{
    background-image: url("images/web.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
}

div
{
    text-align: center;
    border: 3px red solid;
}

div img
{
    box-shadow: 6px 6px 6px;
}

h1
{
    font-size: 5em;
    font-family: Arial, serif;
}

h2
{
    color: red;
}